@media (max-width: 668px) {
  .art-work {
    flex-direction: column;
    align-items: center;
  }
  .about-me {
    flex-direction: column;
       width: 80%;
  }
  .all-services {
    flex-direction: column;
    width: 100%;
    align-items: center;
  }
  .all-contact {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .main-section-2 {
    flex-direction: column;
    align-items: center;
  }

  .section-child-2 {
    flex-direction: column;
    align-items: center;
  }
  nav ul{
    background-color: rgb(180, 180, 232);
    position: fixed;
    width: 100%;
    left: 0;
    flex-direction: column;
    top: 60px;
    text-align: center;
    padding: 2em 0;
    left: 100%;
    transition: all .3s ease-in;
    height: 100vh;
  
  }
  .hamburger{
    display: block;
  }
  .motion{
    left: 0;
  }
  .web-1, .web-2, .web-3{
    width: 80%;
  }
  .portfolio-1{
    width: 90%;
  }
  .con-1, .con-2, .con-3{
    width: 90%;
  }
  
 .about-me{
  width: 100%;
 }
  

}

@media (max-width: 400px) {
  .art-work-1 h1 {
    font-size: 1.2em !important;
  }
  .art-work-1 h4 {
    font-size: 1.2em !important;
  }
  .art-work-1 {
    align-items: center;
    justify-content: center;
  }
  .about-me-2{
    margin: 0 !important;
  }
  .about-me{
    flex-direction: column;
    padding: 15px !important;
  }
  .about-me-2 {
    margin: 5px !important;
  }
  .section-child-2{
    width: 100% !important;
  }
  .palmpay {
    width: 70% !important;
  }
}
